<!DOCTYPE HTML>
<HTML lang='pt-BR'>
    <HEAD>
        <meta charset="UTF-8">
        <title>{{titulo}}</title>
    </HEAD>
    <BODY>
        <form action="/atualizar.html" method="POST">
            <label> Código: </label><br>
            <input type="number" min="1" name="tCodigo"/>
            <br><br>

            <label> Campo: </label><br>
            <select name="tCampo">
                <option value="nome">Nome</option>
                <option value="telefone">Telefone</option>
                <option value="endereco">Endereço</option>
                <option value="dataDeNascimento">Data de Nascimento</option>
            </select>
            <br><br>

            <label> Novo Dado: </label><br>
            <input type="text" name="tDado" placeholder="2022-02-01"/>
            <br><br>

            <button type="submit">Atualizar</button>
            <h6>{{dados}}</h6>
        </form>
    </BODY>
</HTML>